{% extends 'users/base.html' %}

{% block content %}
<div class="whole" style = "background: rgb(53,66,112);
background: linear-gradient(90deg, rgba(53,66,112,1) 21%, rgba(119,93,131,1) 57%);color: whitesmoke;height: 900px;">
<div class="container" style="display:flex; justify-content: space-around;flex-wrap: wrap; background-color: rgb(58, 58, 58);padding: 2em;">
    <div class="left" style="margin: 3em;">
        <div class="image">
            {% if profile.picture %}
                <img src="{{profile.picture.url}}" alt="Image Not found" style = "height: auto; width: 300px; margin: auto;border-radius: 10px;"> <br>
            {% endif %}
        </div>
        <div class="buttons" style = "display: flex; justify-content: space-around;">
            <a href="{% url 'logout' %}"> <button class="btn btn-danger" style="margin: 10px;"> Logout </button> </a> <br>
            <a href="{% url 'profile_update' %}"><button class = "btn btn-primary" style="margin: 10px;">Update</button></a>
        </div>
    </div>
    <div class="right" style="margin: 3em;display: flex;align-items: center;">
        <div class="fields" style="display: flex; flex-direction: column; justify-content: space-around; align-items: center;">
            <h2>{{profile.user.email}}</h2>
            <h2>{{profile.name}}</h2>
            <h2>{{profile.phone}} </h2>
            <h2>Points: {{points}}</h2>
        </div>
    </div>
</div>

<div class="container" style="display: flex; flex-direction: column; justify-content: space-evenly;background-color: rgb(58, 58, 58);padding: 2em;">
    <h1 style = "text-align: center;text-shadow: 2px 2px 4px #000000;margin-bottom: 2em;">Awards Earned</h1>
    <div class="awards" style = "display: flex; flex-direction: row; justify-content: space-evenly;flex-wrap: wrap; align-items: center;">
        {% for award in awards %}
            <div class="award" style = "display: flex; flex-direction: column; justify-content: center; align-items: center;margin: 50px;">
                {% if award.image %}
                    <img src="{{award.image.url}}" alt="Image Not found" style = "height: auto; width: 200px; margin: auto;"> <br>
                {% endif %}
                <h3>{{award.title}}</h3>
            </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock content %}